[user]
    email = marskeymill@icloud.com
    name = Marskey
[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    dft = difftool
[credential]
    helper = cache
[core]
    excludesfile = /Users/marskey/.gitignore_global
    autocrlf = input
    pager = delta --diff-so-fancy --max-line-length=0
    ; pager = diffr | less -R
    quotepath = false
[interactive]
    diffFilter = delta --diff-so-fancy --color-only --features=interactive --max-line-length=0
    ; diffFilter = diffr
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[diff]
    colorMoved = default
[merge]
    ; conflictstyle = diff3
    conflictstyle = zdiff3
[delta]
    navigate = true
