[user]
    email = marskeymill@icloud.com
    name = Marskey
[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    dft = difftool
[credential]
    helper = cache
[core]
    excludesfile = /Users/marskey/.gitignore_global
    autocrlf = input
    ; pager = delta
    ; pager = ydiff
    ; pager =   diffr \
    ; --colors refine-added:none:background:0x1f,0x70,0x2c:bold \
    ; --colors added:none:background:0x0c,0x36,0x18 \
    ; --colors refine-removed:none:background:0x8a,0x1f,0x28:bold \
    ; --colors removed:none:background:0x3a,0x10,0x14 \
    ; --line-numbers | less -R
    quotepath = false
[interactive]
	diffFilter = riff --color=on
    ; diffFilter = delta --diff-so-fancy --color-only --features=interactive --max-line-length=0
    ; diffFilter = diffr
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[diff]
    colorMoved = default
	algorithm = histogram
[merge]
    ; conflictstyle = diff3
    conflictstyle = zdiff3
; [delta]
    ; navigate = true
    ; side-by-side = true
    ; wrap-max-lines = 1000
    ; max-line-length = 0
    ; syntax-theme = Monokai Extended
[pager]
	diff = riff
	show = riff
	log = riff
