[user]
    email = marskeymill@icloud.com
    name = Marskey
[alias]
    unstage = reset HEAD --
    last = log -1 HEAD
    dft = difftool
[credential]
    helper = cache
[core]
    excludesfile = /Users/marskey/.gitignore_global
    autocrlf = input
    ; pager = delta
    ; pager = ydiff
    pager = diffr | less -R
    quotepath = false
[interactive]
    ; diffFilter = delta --diff-so-fancy --color-only --features=interactive --max-line-length=0
    ; diffFilter = diffr
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[diff]
    colorMoved = default
	algorithm = histogram
[merge]
    ; conflictstyle = diff3
    conflictstyle = zdiff3
; [delta]
;     ; navigate = true
    ; side-by-side = true
    ; wrap-max-lines = 1000
    ; max-line-length = 0
